
    <mat-toolbar color="primary">
      <span>A.Moleiro S.L</span>
      <span class="example-spacer"></span>
      <nav>
          <button mat-raised-button routerLink="/home">
            Inicio
          </button>
          <button mat-raised-button routerLink="/contact">
            Contacto
          </button>
          <button mat-raised-button routerLink="/about">
            Sobre Nosotros
          </button>
          <button mat-raised-button routerLink="/quote-management">
            Gestionar Facturas
          </button>
      </nav>
    </mat-toolbar>
    <router-outlet></router-outlet>

