<div class="container">
    <h1 class="mat-headline-4">Inicio</h1>
        <mat-card class="cardContainer">
            <mat-card-header>
                <mat-card-title>
                    <h4 class="mat-headline-5">Facturas App</h4>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/budget.jpg" >
            <mat-card-content><mat-card-subtitle>La mejor Aplicación de  gestión de facturas</mat-card-subtitle></mat-card-content>
            <mat-card-actions end>
                <button mat-raised-button color="primary" routerLink="/quote-management">Gestionar Facturas</button>
            </mat-card-actions>
        </mat-card>
</div>

